# ===== Build folders =====
build/
bin/
dist/

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# ===== Objetos e bibliotecas =====
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# ===== Executáveis =====
*.out
*.exe

# Executáveis Linux sem extensão (nome do target)
DogRun

# ===== IDEs / Editores =====
.vscode/
.idea/
*.code-workspace

# ===== Sistema =====
.DS_Store
Thumbs.db
